<nav class="navbar navbar-expand-lg fixed-top bg-white">
  <div class="container px-4">
    <a class="navbar-brand d-flex align-items-center gap-2" href="/">
      <img src="{{ site.baseurl }}/assets/images/K_icon_made_soulmaze_tick-white.svg" alt="K Logo" height="28">
      <span>KOLECAVA</span>
    </a>
    <div class="ms-auto d-flex align-items-center gap-4">
      <a class="nav-link" href="#">Corporate</a>
      <a class="nav-link" href="#">Sports</a>
      <a class="nav-link" href="#">Music</a>
      <a class="nav-link" href="#">Documentary</a>
      <a class="nav-link contact-button" href="#">Contact</a>
      <a class="nav-link" href="#">About Me</a>
    </div>
  </div>
</nav>